<%= form_for([:admin, @client],:html => { :class => "form-horizontal"}) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br />
  <div class="control-group">
    <%= f.label :nombre, :class=>"control-label" %>
   <div class="controls">
    <%= f.text_field :nombre %>
  </div>
  </div>
  <div class="control-group">
    <%= f.label :appat, :class=>"control-label" %>
   <div class="controls">
    <%= f.text_field :appat %>
  </div>
  </div>
  <div class="control-group">
    <%= f.label :apmat, :class=>"control-label" %>
   <div class="controls">
    <%= f.text_field :apmat %>
  </div>
  </div>
<%= f.fields_for :usuario do |ef| %>
  <div class="control-group">
    <%= ef.label :Usuario, :class=>"control-label" %>
   <div class="controls">
    <%= ef.text_field :username %>
  </div>
</div>
  <div class="control-group">
    <%= ef.label :password, :class=>"control-label" %>
   <div class="controls">
    <%= ef.password_field :password %>
  </div>
</div>
  <div class="control-group">
    <%= ef.label :password_confirmation, :class=>"control-label" %>
   <div class="controls">
    <%= ef.password_field :password_confirmation %>
    <%= ef.hidden_field :tipo , :value =>"Client"  %>
  </div>
</div>
<% end %>
<div class="form-actions">
<%= link_to 'Cancelar'.html_safe, admin_clients_path, :class => 'btn btn-danger' %>
<%= link_to_function "Guardar",
"javascript:document.getElementById(\"new_client\").submit(); return
false",:class => 'btn btn-primary' %>
  </div>
<% end %>