<p id="notice"><%= notice %></p>

<h1>
  <%= @client.nombre %>
</h1>

<h1
  <%= @client.appat %>
</h1>

<h1>
  <%= @client.apmat %>
</h1>


<div class="form-actions">
<%= link_to '<i class="icon-chevron-left"></i> Lista de Clientes'.html_safe, admin_clients_path, :class => 'btn btn-info' %>
<%= link_to '<i class="icon-edit icon-white"></i> Editar'.html_safe, edit_admin_client_path(@client), :class => 'btn btn-info' %>
</div>
