<div>
<% if flash[:alert] %>
<p id="notice" ><%= flash[:alert] %></p>
<% end %>
<%= form_tag do %>
<fieldset>
<legend>Please Log In</legend>
<div>
<label for="username" >Username:</label>
<%= text_field_tag :username, params[:username] %>
</div>
<div>
<label for="password" >Password:</label>
<%= password_field_tag :password, params[:password] %>
</div>
<p><%= link_to "forgotten password?", new_password_reset_path %></p>
<div>
  <%= label_tag :remember_me %>
  <%= check_box_tag :remember_me, 1, params[:remember_me] %>
</div>
<div>
<%= submit_tag "Login" %>
</div>
</fieldset>
<% end %>
</div>

