<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @admin.nombre %>
</p>

<p>
  <b>Appat:</b>
  <%= @admin.appat %>
</p>

<p>
  <b>Apmat:</b>
  <%= @admin.apmat %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
