<h1 align="center">PRODUCT BACKLOG</h1>
</br>
<table class="table table-striped table-bordered table-condensed" style="table-layout:fixed;word-wrap:break-word;">
<thead>
  <tr>
    <th style="text-align:center;">Tarea</th>
    <th style="text-align:center;">Horas Trabajadas</th>
    <th style="text-align:center;">Horas Restantes Estimadas</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<tbody>
<% @workdetails.each do |workdetail| %>
  <tr>
    <td><%= workdetail.task_id %></td>
    <td><%= workdetail.hrstrabajadas %></td>
    <td><%= workdetail.hrsporterminar %></td>
    <td><%= link_to 'Show', workdetail %></td>
    <td><%= link_to 'Edit', edit_workdetail_path(workdetail) %></td>
    <td><%= link_to 'Destroy', workdetail, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workdetail', new_alumno_workdetail_path %>
