<p id="notice"><%= notice %></p>

<p>
  <b>Task:</b>
  <%= @workdetail.task_id %>
</p>

<p>
  <b>Hrstrabajadas:</b>
  <%= @workdetail.hrstrabajadas %>
</p>

<p>
  <b>Hrsporterminar:</b>
  <%= @workdetail.hrsporterminar %>
</p>


<%= link_to 'Edit', edit_workdetail_path(@workdetail) %> |
<%= link_to 'Back', workdetails_path %>
