<div id="contenido">
	<div id="encabezado">
		<p id="notice"><%= notice %></p>
		<h1> Sprint
  		<%= @sprint.id %>
		</h1>
		<h3> de <%= l @sprint.fechainicio, :format => :short %> a
			<%= l @sprint.fechafin, :format => :short %>
	   </h3>
		</br>
	</div>
<div id="cuerpo">
</br>
<table style="width:500px;table-layout:fixed;word-wrap:break-word;">
<tr>
<td>
  <b>Descripción:</b>
</td>
<td>
  <%= @sprint.comentario %>
</td>
</tr>
</tr>
</table>
<table>
<tr>
<td>
<div class="form-actions">
<%= link_to '<i class="icon-chevron-left"></i> Volver'.html_safe, alumno_sprints_path, :class => 'btn btn-info' %>
</div>
</td>
</tr>
</table>
</br>
	<div id="encabezado">
		<h3>
  		Stories
		</h3>
	</div>
</br>
<table class="table table-striped table-bordered table-condensed" style="width:500px;table-layout:fixed;word-wrap:break-word;">
<thead>
  <tr>
    <th style="text-align:center">Descripción</th>
    <th style="text-align:center">Usuario</th>
    <th style="text-align:center">Prioridad</th>
    <th style="text-align:center">Puntos función</th>
    <th style="text-align:center">Agregar a Sprint</th>
  </tr>
</thead>
<tbody>
	<form accept-charset="UTF-8"  method="post" name="addsprint_sprint" id="addsprint_sprint" action="/es/alumno/sprints/addsprint">
	<% @stories.each do |story| %>
	  <tr>
	    <td><%= story.descripcion %></td>
	    <td><%= story.usuario %></td>
	    <td><%= story.prioridad %></td>
	    <td class="<%= 'fp'+story.id.to_s %>" ><%= story.functionpts %></td>
		<td><%= check_box_tag('story[]', story.id, false, :onclick => 'addsprints(this)') %></td>
		<input type="hidden" value="<%= @sprint.id %>" name="sprintid" />
	  </tr>
	<% end %>
	<tr>
	    <td> </td>
	    <td> </td>
	    <td> <b>Total Puntos = </b></td>
		<td id="fp-tot"> 0</td>
		<td> <%= link_to_function "Asignar",
		"javascript:document.getElementById(\"addsprint_sprint\").submit(); return
		false",:class => 'btn btn-primary' %> 
				
		
		</td>
	</tr> 	
	</form>
</tbody>
</table>
