<%= form_for([:admin, @student],:html => { :class => "form-horizontal"}) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :rol %><br />
    <%= f.text_field :rol %>
  </div>
 <div class="form-actions">
<%= link_to 'Cancelar'.html_safe, admin_statuses_path, :class => 'btn btn-danger' %>
<%= link_to_function "Guardar",
"javascript:document.getElementById(\"new_status\").submit(); return
false",:class => 'btn btn-primary' %>
  </div>
<% end %>
