<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @student.nombre %>
</p>

<p>
  <b>Rol:</b>
  <%= @student.rol %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
