<%= form_for([:alumno, @story],:html => { :class => "well form-inline"} ) do |f|%>
  <% if @story.errors.any? %>
    <div id="error_explanation">
		<h2><%= t('errors.template.header', :count=>@story.errors.size,
		:model=>t('activerecord.models.story')) %>.</h2> <p><%= t('errors.template.body') %></p>
      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= raw msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</br>
  <div class="control-group">
    <%= f.label :Nombre , :class=>"control-label"%>
   <div class="controls">
    <%= f.text_field :name %>
  </div>
  </div>
  <div class="control-group">
    <%= f.label :Descripción %>
   <div class="controls">
    <%= f.text_area :descripcion ,:rows=>6 %>
  </div>
  </div>
  <div class="control-group">
    <%= f.label :Usuario , :class=>"control-label"%>
   <div class="controls">
    <%= f.text_field :usuario %>
  </div>
  </div>
  <div class="control-group">
    <%= f.label :Prioridad , :class=>"control-label"%>
   <div class="controls">
    <%= f.text_field :prioridad %>
  </div>
  </div>
  <div class="control-group">
    <%= f.label :Puntos_función %>
   <div class="controls">
    <%= f.number_field :functionpts %>
  </div>
  </div>
  <%= f.hidden_field :project_id,:value => @project_id %>

 <div class="form-actions">
<%= link_to 'Cancelar'.html_safe, alumno_stories_path, :class => 'btn btn-danger' %>
<%= link_to_function "Guardar",
"javascript:document.getElementById(\"new_story\").submit(); return
false",:class => 'btn btn-primary' %>
  </div>

<% end %>
