<div id="contenido">
	<div id="encabezado">
		<p id="notice"><%= notice %></p>
		<h1>
  		<%= @story.name %>
		</h1>
		</br>
	</div>
<div id="cuerpo">
</br>
<table style="width:500px;table-layout:fixed;word-wrap:break-word;">
<tr>
<td>
  <b>Descripción:</b>
<td>
  <%= @story.descripcion %>
</td>
</tr>
<tr>
<td>
  <b>Usuario:</b>
</td>
<td>
  <%= @story.usuario %>
</td>
</tr>
<tr>
<td>
  <b>Prioridad:</b>
</td>
<td>
  <%= @story.prioridad %>
</td>
</tr>
<tr>
<td>
  <b>Puntos Función:</b>
</td>
<td>
  <%= @story.functionpts %>
</td>
</tr>
<tr>
<td>
  <b>Estatus:</b>
</td>
<td>
  <%= @stat %>
</td>
</tr>
<tr>
<td>
  <b>Comentarios:</b>
</td>
<td>
  <%= @story.comentarios %>
</td>
</tr>
</table>
<table>
<tr>
<td>
<div class="form-actions">
<%= link_to '<i class="icon-edit icon-white"></i> Editar'.html_safe, edit_alumno_story_path(@story), :class => 'btn btn-info' %>
</div>
</td>
</tr>
</table>
</br>
	<div id="encabezado">
		<h3 align="center">
  		Criterios de Aceptación
		</h3>
	</div>
</br>
<table class="table table-striped table-bordered table-condensed" style="width:500px;table-layout:fixed;word-wrap:break-word;">
<thead>
  <tr>
    <th style="text-align:center">Descripción</th>
    <th style="width:75px"></th>
    <th style="width:87px"></th>
  </tr>
</thead>
<tbody>
<% @criterios.each do |criterio| %>
  <tr>
    <td><%= criterio.descripcion %></td>
    <td><%= link_to '<i class="icon-edit icon-white"></i> Editar'.html_safe, edit_alumno_criterio_path(criterio), :class => 'btn btn-info' %></td>
    <td><%= link_to '<i class="icon-trash icon-white"></i> Eliminar'.html_safe, alumno_criterio_path(criterio), confirm: "¿Desea eliminar: #{criterio.descripcion}?", method: :delete, :class => 'btn btn-danger' %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= link_to '<i class="icon-plus-sign"></i>'.html_safe, new_alumno_criterio_path(:story_id => @story.id), :class => 'btn btn-success' %>
</br></br>
	<div id="encabezado">
		<h3 align="center">
  		Tareas
		</h3>
	</div>
</br>
<table class="table table-striped table-bordered table-condensed" style="width:800px;table-layout:fixed;word-wrap:break-word;">
<thead>
  <tr>
    <th style="text-align:center">Descripción</th>
    <th style="text-align:center">Estimado Inicial</th>
    <th style="text-align:center">Estatus</th>
    <th style="text-align:center">Responsable</th>
<% if  @stat != 'Listo' %>
    <th style="width:75px"></th>
    <th style="width:87px"></th>
<% end %>
  </tr>
</thead>
<tbody>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.descripcion %></td>
    <td style="text-align:center"><%= task.estimadoinicial %></td>
    <td style="text-align:center"><%= task.status %></td>
    <td style="text-align:center"><%= Student.where(:id => task.student_id).first.nombre %></td>
<% if  @stat != 'Listo' %>
    <td><%= link_to '<i class="icon-edit icon-white"></i> Editar'.html_safe, edit_alumno_task_path(task), :class => 'btn btn-info' %></td>
    <td><%= link_to '<i class="icon-trash icon-white"></i> Eliminar'.html_safe, alumno_task_path(task), confirm: "¿Desea eliminar: #{task.descripcion}?", method: :delete, :class => 'btn btn-danger' %></td>
<% end %>
  </tr>
<% end %>
</tbody>
</table>
<% if  @stat != 'Listo' %>
<%= link_to '<i class="icon-plus-sign"></i>'.html_safe, taskasign_alumno_tasks_path(:id => @story.id), :class => 'btn btn-success' %>
</br>
<% end %>
<div class="form-actions">
<%= link_to '<i class="icon-chevron-left"></i> Volver al Product Backlog'.html_safe, alumno_stories_path, :class => 'btn btn-info' %>
</div>
</div>
