<p id="notice"><%= notice %></p>

<h1>
  <%= @story.name %>
</h1>
</br>
<table>
<tr>
<td>
  <b>Descripci贸n:</b>
<td>
  <%= @story.descripcion %>
</td>
</tr>
<tr>
<td>
  <b>Usuario:</b>
</td>
<td>
  <%= @story.usuario %>
</td>
</tr>
<tr>
<td>
  <b>Prioridad:</b>
</td>
<td>
  <%= @story.prioridad %>
</td>
</tr>
<tr>
<td>
  <b>Puntos Funci贸n:</b>
</td>
<td>
  <%= @story.functionpts %>
</td>
</tr>
<tr>
<td>
  <b>Estatus:</b>
</td>
<td>
  <%= @stat %>
</td>
</tr>
<tr>
<td>
  <b>Comentarios:</b>
</td>
<td>
  <%= @story.comentarios %>
</td>
</tr>
</table>
<table>
<tr>
<td>
<div class="form-actions">
<%= link_to '<i class="icon-chevron-left"></i> Volver al Product Backlog'.html_safe, alumno_stories_path, :class => 'btn btn-info' %>
<%= link_to '<i class="icon-edit icon-white"></i> Editar'.html_safe, edit_alumno_story_path(@story), :class => 'btn btn-info' %>
</div>
</td>
</tr>
</table>
</br>
	<div id="encabezado">
		<h3>
  		Criterios de Aceptaci贸n
		</h3>
	</div>
</br>
<table class="table table-striped table-bordered table-condensed" style="width:500px;table-layout:fixed;word-wrap:break-word;">
<thead>
  <tr>
    <th style="text-align:center">Descripci贸n</th>
  </tr>
</thead>
<tbody>
<% @criterios.each do |criterio| %>
  <tr>
    <td><%= criterio.descripcion %></td>
  </tr>
<% end %>
</tbody>
</table>


