<%= form_for([:alumno, @task],:html => { :class => "form-horizontal"} ) do |f|%>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</br>
  <div class="control-group">
    <%= f.label :descripción %>
  <div class="controls">
    <%= f.text_area :descripcion%>
  </div>
</div>
  <div class="control-group">
    <%= f.label :estimado_inicial %>
  <div class="controls">
    <%= f.number_field :estimadoinicial %>
  </div></div>

  <div class="control-group">
    <%= f.label :Estatus %>
  <div class="controls">
    <%= f.text_field :status %>
  </div></div>
  <div class="control-group">
    <%= f.label :Responsable %>
  <div class="controls">
    <%= select("task", "student_id", Student.where(:team_id => @team_id).collect {|p| [ p.nombre, p.id ] })%>
  </div></div>
  <div class="controls">
<%= link_to_function "Asignar",
"javascript:document.getElementById(\"new_task\").submit(); return
false",:class => 'btn btn-primary' %>
  </div></div>
 <div class="form-actions">
<%= f.hidden_field :story_id,:value=>@story.id %>
<%= link_to '<i class="icon-chevron-left"></i>Volver a Asignación de tareas'.html_safe, alumno_tasks_path, :class => 'btn btn-info' %>
<a href="http://localhost:3000/es/alumno/stories/<%= @story.id %>" class='btn btn-info'><i class="icon-chevron-left"></i>Volver a Story</a>
  </div>

<% end %>
