<p id="notice"><%= notice %></p>

<h2>
  Asignar equipo al proyecto <%= @project.nombre %>
</h2>

<h3>
  <%= @project.descripcion %>
</h3>



	<form accept-charset="UTF-8"  method="post" name="ass_project" id="ass_project" action="/es/admin/projects/assignteam">

	<div class="control-group">
    <label class="control-label" for="team_id">Equipos sin proyecto</label>	   
	<div class="controls">
	    <%= select("", "team_id", Team.where(:project_id => nil).collect {|p| [ p.nombre, p.id ] })%>
		<input type="hidden" value="<%= @project.id %>" name="project_id" />
	
	  </div>
	</div>
	<%= link_to_function "Guardar",
	"javascript:document.getElementById('ass_project').submit(); return
	false",:class => 'btn btn-primary' %>				
	</form>



<div class="form-actions">
<%= link_to '<i class="icon-chevron-left"></i> Lista de Proyectos'.html_safe, admin_projects_path, :class => 'btn btn-info' %>
<%= link_to '<i class="icon-edit icon-white"></i> Editar'.html_safe, edit_admin_project_path(@project), :class => 'btn btn-info' %>
</div>
