<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @project.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @project.descripcion %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
