<%= form_for([:admin, @admin],:html => { :class => "form-horizontal"}) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', :count=>@admins.errors.size,
        :model=>t('activerecord.models.admin')) %>.</h2>
      <p><%= t('errors.template.body') %></p>
      <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><%= raw msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br />
  <div class="control-group">
    <%= f.label :nombre, :class=>"control-label" %>
   <div class="controls">
    <%= f.text_field :nombre %>
  </div>
  </div>
<%= f.fields_for :usuario do |ef| %>
  <div class="control-group">
    <%= ef.label :Usuario, :class=>"control-label" %>
   <div class="controls">
    <%= ef.text_field :username %>
  </div>
</div>
  <div class="control-group">
    <%= ef.label :password, :class=>"control-label" %>
   <div class="controls">
    <%= ef.password_field :password %>
  </div>
</div>
  <div class="control-group">
    <%= ef.label :password_confirmation, :class=>"control-label" %>
   <div class="controls">
    <%= ef.password_field :password_confirmation %>
    <%= ef.hidden_field :tipo , :value =>"Admin"  %>
  </div>
</div>
<div class="control-group">
    <%= ef.label :email, :class=>"control-label" %>
   <div class="controls">
    <%= ef.text_field :email %>
  </div>
</div>
<%- end %>
<div class="form-actions">
<%= link_to 'Cancelar'.html_safe, admin_admins_path, :class => 'btn btn-danger' %>
<%= link_to_function "Guardar",
"javascript:document.getElementById(\"edit_admin_#{@admin.id}\").submit(); return
false",:class => 'btn btn-primary' %>
  </div>
<% end %>
