<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @story.name %>
</p>

<p>
  <b>Status:</b>
  <%= @story.status_id %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @story.descripcion %>
</p>

<p>
  <b>Functionpts:</b>
  <%= @story.functionpts %>
</p>

<p>
  <b>Prioridad:</b>
  <%= @story.prioridad %>
</p>

<p>
  <b>Usuario:</b>
  <%= @story.usuario %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
