<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @criterio.descripcion %>
</p>

<p>
  <b>Story:</b>
  <%= @criterio.story_id %>
</p>


<%= link_to 'Edit', edit_cliente_criterio_path(@criterio) %> |
<%= link_to 'Back', cliente_criterios_path %>
