<div id="contenido">
		<p id="notice"><%= notice %></p>
		<h1 align="center"> Sprint
  		<%= @sprint.id %>
		</h1>
		<h3 align="right"> Del <%= l @sprint.fechainicio, :format => :short,  %> al
			<%= l @sprint.fechafin, :format => :short%>
	   </h3>
		</br>
		<h3 align="left" ><%= @sprint.comentario %></h3>
<div id="cuerpo">
</br>

</br>
	<div id="encabezado">
		<h3>
  		Stories Asignadas
		</h3>
	</div>
</br>
<table class="table table-striped table-bordered table-condensed" style="width:600px;table-layout:fixed;word-wrap:break-word;">
<thead>
  <tr>
	<th style="text-align:center">Nombre</th>
    <th style="text-align:center">Descripción</th>
    <th style="text-align:center">Usuario</th>
    <th style="text-align:center">Prioridad</th>
    <th style="text-align:center">Puntos función</th>
  </tr>
</thead>
<tbody>
	<% @examples.each do |example| %>
	  <tr>
		<td><%= example.name %></td>
	    <td><%= example.descripcion %></td>
	    <td><%= example.usuario %></td>
	    <td><%= example.prioridad %></td>
	    <td><%= example.functionpts %></td>
	  </tr>
	<% end %>
</tbody>
</table>
<div class="form-actions">
<%= link_to '<i class="icon-chevron-left"></i> Volver'.html_safe, admin_sprints_path, :class => 'btn btn-info' %>
</div>

