<h1 align="center">Equipos</h1></br>
<table class="table table-striped table-bordered table-condensed" style="table-layout:fixed;word-wrap:break-word;width:700px;">
<thead>
  <tr>
    <th style="text-align:center;">Nombre</th>
    <th style="text-align:center;">Integrantes</th>
    <th style="width:75px;"></th>
    <th style="width:87px;"></th>
  </tr>
</thead>
<tbody>
<% @teams.each do |team| %>
  <tr>
    <td><%= team.nombre %></td>
    <td>
		<table style="table-layout:fixed;word-wrap:break-word;width:100%;">
	<% Student.where(:team_id => team.id).each do |student| %>
		<tr>
		<td style="width:80px;">
			<%= student.nombre + " " + student.appat %>
		</td>
		<td style="width:80px;" >
			<%= student.rol %>
		</td>
		</tr>	
	<% end %>		
		</table>
    </td>
   <td style="width:75px;"><%= link_to '<i class="icon-edit icon-white"></i> Editar'.html_safe, edit_admin_team_path(team), :class => 'btn btn-info' %></td>
    <td style="width:87px;"><%= link_to '<i class="icon-trash icon-white"></i> Eliminar'.html_safe, admin_team_path(team), confirm: "¿Desea eliminar: #{team.nombre}?", method: :delete, :class => 'btn btn-danger' %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to '<i class="icon-pencil icon-white"></i> Agregar Equipos'.html_safe, new_admin_team_path, :class => 'btn btn-info' %>
