<!DOCTYPE html>
<html>
<head>
  <title>REM2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">REM2</a>
          <div class="nav-collapse">
		<%= render "menu" %>
            <p class="navbar-text pull-right"> <%= t('.login') %> <a href="#">username</a></p>
          </div><!--/.nav-collapse -->

        </div>
      </div>
    </div>

<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav"  style="position:fixed;width:170px;">
		<%= render "options" %>
          </div><!--/.well -->
        </div><!--/span-->

        <div class="span9">
          <div class="hero-unit" style="margin-left: 160px;width:100%;">
<%= yield %>
          </div>
          </div>
            </div><!--/span-->
          </div><!--/row-->
</body>
</html>
