<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Easecrum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Easecrum</a>
          <div class="btn-group pull-right">
			<a data-toggle="modal" href="#myModal" class="btn btn-primary">Iniciar Sesión</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top:50px;">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
		<%= yield %>
      </div>
      <hr>

      <footer>
        <p class="pull-right"><%= image_tag("rem2logo.png", :size => "100x100") %>
		</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<%= javascript_include_tag 'bootstrap-collapse' %>
	<%= javascript_include_tag 'bootstrap-modal' %>
	<%= javascript_include_tag 'bootstrap-transition' %>
	<%= javascript_include_tag 'bootstrap-dropdown' %>
	<%= javascript_include_tag 'bootstrap-carousel' %>
	
  </body>
</html>
